body{
    background-color: black;
}

.container {
    min-width: 900px;
}

.wrapper {
    position: relative;
    overflow: auto;
}

#top {
    color: lightgreen;
    padding: 15px;
}

#main {
    padding: 10px;
    color: lightgreen;
}

#sidebar {
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px;
    width: 320px;
    top: 0;
    right: 0;
    position: absolute;
    font-size: 80%;
    line-height: 20px;
}

#bottom {
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
}

#top h1,#top p {
    margin: 0;
}

.menuitem {
    color: lightgreen;
    cursor: pointer;
}

.menuitem:nth-child(2) {
    color:white;
    font-weight:bold;
}

.menuitem:hover {
    color: white;
}

a {
    color: white;
}

a:hover {
    color: lightgreen;
}
@media (max-width: 600px) {
    #sidebar {
       width: auto;
       margin-bottom:10px;        
       position: relative;
    }    
}